body {
  background-color: #f2f2f2;
  color: #1C1E1E;
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 0.7px;
  margin: 0;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  color: #d5f2ef !important;
  font-weight: 600;
  font-size: 2.4em;
  letter-spacing: 2px;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  color: #a0bfb8 !important;
  font-size: 1.3em;
  letter-spacing: 5px;
  font-weight: 300;
}

a {
  color: #5bb7b1 !important;
  text-decoration: none;
  font-weight:500;
}

a:hover {
  color: white;
  background-color: #5bb7b1;
}

#banner {
  text-align: center;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #1C1E1E;
  text-shadow: 1px 1px 5px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#banner p {
  color: #f2f2f2;
  font-size: 1.3em;
}

.card {
    text-align: center;
    padding: 50px;
    width: 14%;
}

.icon {
  width: 75%;
}

.container {
  padding: 50px 0;
}

.one {
  padding-bottom: 130px;
}

#footer {
  padding: 50px;
  background-color: #1C1E1E;
  color: #f2f2f2;
}

ul {
    list-style-type: none;
    padding: 0;
}

i {
    font-size: 1.7em;
}
